<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script>
    function deleteConfirmation(){
      return confirm("Are you sure you want to delete this record?");
    }
  </script>
</head>
<body>
<div>
  <div style="color: red;" >
    <p th:text="${message}"></p>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Action</th>
    </thead>

    <tbody>
    <tr th:each="student : ${students}">
      <td th:text="${student.name}"></td>
      <td th:text="${student.email}"></td>
      <td th:text="${student.phone}"></td>
      <td>

        <a th:href="@{'/delete?id=' + ${student.id}}" class="btn btn-danger" onclick="return deleteConfirmation()">Delete</a>
<!--        <a th:href="@{'/category/edit/' + ${category.id}}">view</a>-->
<!--      <td><a th:href="@{'/main?id=' + ${customer.id}}" th:text="${customer.fullName}" /></td>-->


      <!--        <a th:href="|@{/delete_user/${user.personId}}|" class="btn btn-danger">Delete</a>-->

      </td>
    </tr>
    <a href="/">add new student</a>
    </tbody>

  </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>